.wrapper {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
