<div class="wrapper">
  <div class="button-container">
    <button
      mat-raised-button
      routerLink="record"
      class="button"
    >
      Добавить
    </button>
    <button
        mat-raised-button
        [disabled]="isDisabledButton"
        [routerLink]="['/records', currentCarOwnerId]"
        class="button">
      Просмотр
    </button>
    <button
        mat-raised-button
        [disabled]="isDisabledButton"
        [routerLink]="['/records', currentCarOwnerId, 'edit']"
        class="button">
      Редактировать
    </button>
    <button
        mat-raised-button
        [disabled]="isDisabledButton"
        (click)="deleteRecord()"
        class="button">
      Удалить
    </button>
  </div>

  <table mat-table [dataSource]="carOwners" class="mat-elevation-z8 table">
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef class="rows-width"> Фамилия </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef class="rows-width"> Имя </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="middleName">
      <th mat-header-cell *matHeaderCellDef class="rows-width"> Отчество </th>
      <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
    </ng-container>

    <ng-container matColumnDef="cars">
      <th mat-header-cell *matHeaderCellDef class="rows-width"> Колличество автомобилей </th>
      <td mat-cell *matCellDef="let element"> {{element.cars.length}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickOnRows($event)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
</div>
