<!-- (click)="addData()" -->
<div class="wrapper">
  <div class="demo-button-container">
    <button
      mat-raised-button
      routerLink="record"

      class="demo-button"
    >
      Добавить
    </button>
    <button
        mat-raised-button
        [disabled]="isDisabledButton"
        [routerLink]="['/records', currentCarOwnerId]"
        class="demo-button">
      Просмотр
    </button>
    <!-- (click)="showRecord()"
      [routerLink]="['/records/:id/edit', currentCarOwnerId]"
    (click)="editRecord()" -->
    <button
        mat-raised-button
        [disabled]="isDisabledButton"
        [routerLink]="['/records', currentCarOwnerId, 'edit']"
        class="demo-button">
      Редактировать
    </button>
    <button
        mat-raised-button
        [disabled]="isDisabledButton"
        (click)="deleteRecord()"
        class="demo-button">
      Удалить
    </button>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Фамилия </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Имя </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="middleName">
      <th mat-header-cell *matHeaderCellDef> Отчество </th>
      <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
    </ng-container>

    <ng-container matColumnDef="cars">
      <th mat-header-cell *matHeaderCellDef> Колличество автомобилей </th>
      <td mat-cell *matCellDef="let element"> {{element.cars.length}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickOnRows($event)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>

</div>

<!-- [class.demo-row-is-clicked]="clickedRows.has(row)" -->
<!-- (click)="clickedRows.add(row)" -->
<!-- [class.demo-row-is-clicked]="!isDisabledButton" -->

